<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2020 <a href="https://github.com/projeto-de-algoritmos/grafos2MenorTrajeto">grafos2MenorTrajeto</a></p>
    </div>
</footer>